html,
body {
    height: 100%;
    background-color: black;

}

body {
    font-family: 'Lato', sans-serif;
    display: absolute;
    margin: 0px;
    color: whitesmoke;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

header {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: beige;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.backgroundimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content {
    flex: 1 0 auto;
}

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

#heading {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#instructions {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.top_nav {
    display: flex;
    justify-content: center;
    width: 12%;
    flex-grow: 1;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
}

.top_nav .icon {
    margin: 10px 20px;
}

h1 {
    font-family: 'Lato', sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: -10px;
    font-size: 80px;
}

h2 {
    font-family: 'Lato', sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 35px;
}

h3 {
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}

.side_nav {
    height: 40%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-top: 15%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
    overflow-y: hidden;
}

.page-info-title {
    font-family: 'Google Sans', Helvetica, Arial, sans-serif;
    display: absolute;
    margin: 20px;
    color: #aaa;
}

.page-info-copy {
    font-family: 'Google Sans', Helvetica, Arial, sans-serif;
    display: absolute;
    margin: 20px 120px;
    color: #aaa;
}


.icon {
    display: block;
    margin: 40px 10px;
}

#footer {
    flex-shrink: 0;
}

#footer .menu_footer {
    display: flex;
    width: 100%;
    align-items: center;
}

#footer .menu_footer .socialmedia {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 10px;
}

#footer .menu_footer .socialmedia .icon {
    margin: 0px 5px;
}


#footer .menu_footer .website {
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.website a {
    color: #aaa;
}

#footer .menu_footer .menu_right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 10px;
}

.menu_item {
    padding: 0px 10px;
    color: #aaa;
}