html,
body {
    height: 100%;
    background-color: black;
    
}

body {
    font-family: 'Lato', sans-serif;
    display: absolute;
    margin: 0px;
    color: whitesmoke
}

header {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: beige;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.backgroundimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content {
    flex: 1 0 auto;
}



.top_nav {
    display: flex;
    justify-content: center;
    width: 12%;
    flex-grow: 1;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
}

.top_nav .icon {
    margin: 10px 20px;
}

h1 {
    font-family: 'Lato', sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: -10px;
    font-size: 80px;
}

h2 {
    font-family: 'Lato', sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 35px;
}

h3 {
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}

.side_nav {
    height: 40%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-top: 15%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
    overflow-y: hidden;
}

.page-info-title {
    font-family: 'Google Sans', Helvetica, Arial, sans-serif;
    display: absolute;
    margin: 20px;
    color: #aaa;
}

.page-info-copy {
    font-family: 'Google Sans', Helvetica, Arial, sans-serif;
    display: absolute;
    margin: 20px 120px;
    color: #aaa;
}


.icon {
    display: block;
    margin: 40px 10px;
}

#footer {
    flex-shrink: 0;
}

#footer .menu_footer {
    display: flex;
    width: 100%;
    align-items: center;
}

#footer .menu_footer .socialmedia {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 10px;
}

#footer .menu_footer .socialmedia .icon {
    margin: 0px 5px;
}


#footer .menu_footer .website {
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.website a {
    color: #aaa;
}

#footer .menu_footer .menu_right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 10px;
}

.menu_item {
    padding: 0px 10px;
    color: #aaa;
}